html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-color:whitesmoke;
}

header{
    width: 100%;
    margin: 0 auto;
    background-color: #a7b40d;
}

section{
    width: calc(100%/7);
    margin: 0 auto;
    float: left;
    text-align: center;
    background-color: #3f7b93;
}